name: CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  build-push-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: SonarQube Scan
      uses: SonarSource/sonarcloud-github-action@v2
     
      env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
    
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    
    - name: Build Docker Image
      run: docker build -t sain143/sai-repo1:latest .

    - name: Push Docker Image
      run: docker push sain143/sai-repo1:latest

    - name: Deploy to EC2
      uses: appleboy/ssh-action@v1.0.0
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USER }}
        key: ${{ secrets.EC2_SSH_KEY }}
        script: |
          docker pull sain143/sai-repo1:latest
          docker stop sai-app || true
          docker rm sai-app || true
          docker run -d \
            --restart unless-stopped \
            -p 8081:8080 \
            --name sai-app \
            sain143/sai-repo1:latest

